# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python tooling
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log